
#main_a {
    width: 80%;
    max-width: initial;
}

.album_wrapper {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}

.album_wrapper a {
    margin: 20px;
    text-decoration: none;
}
.album_wrapper img {
    width: 200px;
}

.album_wrapper div {
    margin-top: -20px;
    color: white;
}


@media screen and (max-width: 920px) {
    .album_wrapper img {
        width: 150px;
    }
    #main_a {
        width: 80%;
        margin-top: 80px;
    }
}
@media screen and (max-width: 720px) {
    
    #main_a {
        width: 90%;
        margin-top: 40px;
    }
}
@media screen and (max-width: 520px) {
    
    .album_wrapper img {
        width: 120px;
    }

    .album_wrapper div {
        
        font-size: 20px;
    }
    
}